:root {
  --titles__color: rgb(33, 33, 33);
  --text__color: rgb(117, 117, 117);
  --background__color: rgb(47, 48, 58);
  --buttons__color: rgb(32, 148, 243);
  --primary__color: rgb(255, 255, 255);
  --font-family: "roboto", sans-serif;
  --font-family2: "raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--titles__color);
  margin: 0px;
}
* {
  margin: 0px;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.cointainer,
.cointainer__navigation,
.cointainer_equipment {
  margin: 0 auto;
  width: 1200px;
}

.cointainer__navigation {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.webstudio__icon {
  color: var(--buttons__color);
  font-family: var(--font-family2);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  text-align: left;
  margin-right: 93px;
  letter-spacing: 0.03em;
}
.navigation__list {
  display: inline-flex;
  justify-content: space-between;
  width: 281px;
  height: 16px;
  top: 32px;
  left: 453px;
  gap: 50px;
}
.navigation__link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--titles__color);
}
.list__address {
  justify-content: space-between;
  display: flex;
  gap: 50px;
  margin-left: 244px;
}
.navigation__address {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--titles__color);
}
.buttonlink:hover {
  color: #2196f3;
}
.address:hover {
  color: #2196f3;
}
.background__hero {
  background: var(--background__color);
  padding: 94px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title__hero {
  line-height: 1.36;
  color: var(--primary__color);
  text-align: center;
  font-family: var(--font-family);
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
}
.hero__button {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 261px;

  color: var(--primary__color);
  background: var(--buttons__color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
}
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.poster {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}
.poster:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;
  background: #2196f3;
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.poster:active {
  background: #2196f3;
}
footer {
  background: #2f303a;
}
button {
  cursor: pointer;
}

.cointainer_equipment {
  background: #f5f4fa;
  height: 648px;
}

.equipment {
  display: flex;
}

.card {
  width: 270px;
  height: 368px;
  margin: 15px;
  background: #ffffff;
  text-align: center;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
